/*Initial Styling*/
body{background-image:url(images/PortfolioBG.png);background-color: #202020;}
body,header,footer,div{margin:0;padding:0;}
body{height: 100dvh;width: 100dvw;overflow-x: hidden;}
footer{display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom:0;
}
header,footer{z-index:1;}

/*Landing Page Overall Styling*/
.BodyNoOverflow{display: flex;}
.FloatingTopLogo{position:absolute;top:0dvh;left:50%;transform: translate(-50%, -0%);}
#MidLogo{position:absolute;top:0;left:50%;transform: translate(-50%, -10%);width:80%;height:auto;}
.FPContentBox{background-size: cover;display: flex;justify-content: center;align-items: center;}

/*Text Styling*/
p,a{font-family: montserrat;font-size: 3vmin;}
p{color: #727272;}
a{color: #CEB0FF;}
.FPLink{font-weight: 800;
    background: -webkit-linear-gradient(#9c9c9c, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    filter: drop-shadow(0px 0px 2px #0b0b26);
}
.FPContentBox:hover .FPLink{font-weight: 800;
    background: -webkit-linear-gradient(#7E52C7, #CEB0FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    text-align: center;
}

/*Orientation Specific Styling & Animation*/
@media only screen and (orientation: landscape)
{
    .BodyNoOverflow{height:95.5dvh;flex-direction: row;}
    footer{height:4.5dvh;background-color: #202020;}
    .FloatingTopLogo{height:auto;width:27.5dvw;min-width:400px;}
    .FPContentBox{width:25%;height:auto;}
    p,a{font-size: clamp(12px, 3.5vmin, 14px);}
    .FPLink{font-size: 3.5dvw}
    .Logo{max-width:20vw;}
    .SocialsIcon{width: 2vw;}
    #MidLogo{margin-top: 4%;}
    .Logo,.SocialsIcon{margin-top: 20px;}
}

@media only screen and (any-hover: hover)
{
    .FPContentBox{opacity: 0.5;flex: 1;transition: flex 0.3s ease-in-out;}
    .FPContentBox:hover{flex:3;opacity: 1;}
    a:hover{opacity: 80%;}
}

@media only screen and (orientation: portrait)
{
    .BodyNoOverflow{height:95.5dvh;flex-direction: column;}
    footer{height:4.5dvh;background-color: #202020;}
    .FloatingTopLogo{height:auto;width:70dvw;max-width:300px;}
    .FPContentBox{height:25%;width:auto;}
    p,a{font-size: clamp(8px, 3.5vmin, 16px);}
    .FPLink{font-size: 6dvh}
    .Logo{max-width:35vw;}
    .SocialsIcon{width: 6vw;}
    #MidLogo{margin-top: 1dvh;}
    .Logo,.SocialsIcon{margin-top: 5px;}
}

/* Keyframes */
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/*Navbar Container*/
.NavbarHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
}

.NavIcons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 2vw;
}

.Logo{
    padding-left: 2vw;
}

.PhoneContainer .CrossIcon{font-weight: 800; font-size: 3vmax;position: absolute;top: 5vmin;right:5vmin;}

/* Navbar Text*/
ul{
    display: flex;
    gap: 1.2vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    
ul li a{
    text-align: center;
    background: -webkit-linear-gradient(#9c9c9c, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul li a:active{
    background: -webkit-linear-gradient(#7E52C7, #CEB0FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul li a:hover{
    background: -webkit-linear-gradient(#7E52C7, #CEB0FF);
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Phone Navbar*/
@media only screen and (orientation: landscape)
{
    .PhoneContainer{display: none;}
    #BurgerMenu{display: none;}
    ul li a{font-size: 1.1vmax;}
}

@media only screen and (orientation: portrait)
{
    .DesktopLinkContainer{display:none;}
    .PhoneContainer{
        position: absolute;
        height: 100dvh;
        width: 100dvw;
        z-index: 2;
        background-color:#202020;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        top:0;
        left:0;
    }
    .PhoneContainer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4dvh;
    }
    .PhoneContainer ul li a{font-size: 5vmin;}
}

/* Gallery */
.Gallery{
    display: grid;
    position: absolute;
    height: 75vh;
    width: 100dvw;
    background-color: rgba(53, 53, 53, 0.85);
    overflow-y:scroll;
    overflow-x:hidden;
}

.GalleryImage{
    object-fit: cover;
    transition: 0.3s;
    width:100%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.Gallery img:hover {
  transform: scale(1.1);
}

@media only screen and (orientation: landscape)
{
    .Gallery{
        grid-template-columns: repeat(4,25%);
        top: 15%;
    }
}
@media only screen and (orientation: portrait)
{
    .Gallery{
        grid-template-columns: repeat(2,50%);
        top: 10%;
    }
}

/* Image Modals */
.Modal{
    width: 100dvw;
    height: 100dvh;
    position:absolute;
    display: none;
    background-color: #22222258;
    backdrop-filter:blur(5px);
    z-index: 10;
    overflow:hidden;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.Modal.active{
    display:flex;
    margin:0;
    padding:0;
    width: 100dvw;
    height:100dvh;
    place-items:center;
    align-items: center;
    justify-content: center;
}

#modalImg{
    width:auto;
    height: auto;
    max-height:80%;
    max-width: 80%;
    object-fit: contain;
    display: block;
    animation: zoom 0.6s;
}

.modalCloser{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3vw;
    font-weight: 900;
    transition: 0.3;
    background: -webkit-linear-gradient(#9c9c9c, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modalCloser:hover,.modalCloser:focus {
    background: -webkit-linear-gradient(#7E52C7, #CEB0FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

/* Scrollbar styling*/
::-webkit-scrollbar {
    width: 0.5vw;
}
::-webkit-scrollbar-track {
    background: #616161;
}
::-webkit-scrollbar-thumb {
    background: #383838;
}
::-webkit-scrollbar-thumb {
    background: #c766ff;
}

/* 3D Modal*/
.Modal3D{
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  display: none;
  overflow: hidden;
}

.Thumb3D{object-fit: cover;}

@media only screen and (orientation: landscape)
{
    .Thumb3D{
        width:100%;
        aspect-ratio: 1/1;
    }
}
@media only screen and (orientation: portrait)
{
    .Thumb3D{
        width:100%;
        aspect-ratio: 1/1;
    }
}

/* Animation Buttons & Container*/
.AnimationControls{
    display:flex;
    flex-direction: column;
    width:20dvw;
    height:auto;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    gap:10px;
    top:50%;
    left:2%;
}
.AnimButton{
    width: 100%;
    height: 5dvh;
    font-family: montserrat;
    font-size: 2.5dvh;
    font-weight: 600;
    background: -webkit-linear-gradient(#CEB0FF,#7E52C7);
    border-radius: 20px;
}

/* TOS */

#TOSBody p{color:aliceblue;font-family: montserrat;}
#TOSBody h1,h2,h3,h4{
    color: #CEB0FF;
    font-family: montserrat;
}

@media only screen and (orientation: landscape)
{
    #TOSBody{
        width:auto;
        padding: 10dvh 30% 10dvh 30%;
    }
}
@media only screen and (orientation: portrait)
{
    #TOSBody{
        width:auto;
        padding: 10dvh 10% 10dvh 10%;
    }
}